<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Natural language processing and data visualization challenge</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <!-- D3 and first graph -->
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://rawgit.com/newrelic-forks/d3-plugins-sankey/master/sankey.js"></script>
    <script src="https://rawgit.com/misoproject/d3.chart/master/d3.chart.min.js"></script>
    <script src="https://rawgit.com/q-m/d3.chart.sankey/master/d3.chart.sankey.min.js"></script>
    <script src="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.min.js"></script>
    <script src="{{ url_for('static', filename='js/stream_layers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wordcloud.js') }}"></script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-72638020-1', 'auto');
      ga('send', 'pageview');
    </script>

    <style>
      .img-container {
          position: relative;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: flex; /* add */
          justify-content: center; /* add to align horizontal */
          align-items: center; /* add to align vertical */
      }
      .take-all-space-you-can{
            width:50%;
      }

      .node rect {
        fill-opacity: .9;
        shape-rendering: crispEdges;
      }
      .node text {
        text-shadow: 0 1px 0 #fff;
      }
      .link {
        fill: none;
        stroke: #000;
        stroke-opacity: .2;
      }

      .form-control, .btn-default {
        font-size:18px; padding: 5px 12px
      }

      #pie svg {
        height: 600px;
      }

      #stack{
        height: 500px;
      }
      .nv-axislabel{
        font-weight: bold;
      }

      #cloud1, #cloud2 {
        margin-top: 120px;
        margin-bottom: 70px;
      }
    
    </style>


  </head>
  <body>
    <div class="container-fluid" style="font-size:16px">
      {# {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %} #}
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Links between Urban Development and the other United Nations Sustainable Development Goals</h1>
            </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div id="#tabs">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active take-all-space-you-can"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" onclick="ga('send', 'event', 'Actions', 'Clicks', 'Tab1');">Links distribution between SDG11 and the others regarding to 4 types of relationships</a></li>
              <li role="presentation" onclick="ga('send', 'event', 'Actions', 'Clicks', 'Tab2');" class="take-all-space-you-can"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Links distribution between SDG11 and the others regarding to reports</a></li>
            </ul>
            <br/>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="home">
                <div class="row">
                  <div class="col-md-12">
                    <div id="chart2"></div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="profile">
                <div class="row">
                  <div class="col-md-12">
                    <div id="chart1"></div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          </div>
        </div>
       
        <!-- Start -->

        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <h3 class="text-center">Percentage of relationships for each link  between  Urban Development and the others</h3>
              </div>
            </div>
            <div class="row"><div class="col-md-12"><h4 class="invisible"> 2</h4></div></div>
            <div class="row">
              <div class="col-md-12">
                <div id="stack"><svg></svg></div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <h3 class="text-center">Percent  of  links for each related Category and  Urban Development</h3>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12">
                <div id="pie"><svg></svg></div>
              </div>
            </div>
          </div>

        </div>

        <!-- end -->
        <div class="row">
          <div class="col-md-12"><h3 class="text-center">Wordcloud with keywords for linkages between SDGs</h3></div>
          <div class="col-md-6">
            <div class="row"><div class="col-md-12"><h4 class="invisible"> 2</h4></div></div>
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-center">Sustainable cities and communities</h4>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12">
                <div id="cloud1"></div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-center">Filter (categories)</h4>
              </div>
            </div>
            <div class="row">
              <div class="  text-center">
                  <form class="form-inline" action="javascript:void(null);" method="POST" name='chose2' id="form2" onchange="call2(); ga('send', 'event', 'Actions', 'Clicks', 'Filter_categories');">
                  <!-- <form class="form-inline" action="/" method="POST" name='chose2' id="form2"> -->
                     <div class="alert alert-danger" role="alert" id="error2">
                      </div>
                      {{form2.hidden_tag()}}
                      
                            <div class="form-group input-group col-md-6 " >{{ form2.cloud_category(class="form-control") }}</div>
                        
                  </form>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12">
                <div id="cloud2"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
             <div class="row">
              <div class="col-md-12">
                <h3 class="text-center">Examples of sentences with link between  Urban Development and the others SDGs  per type of relationship</h3>
              </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <form class="form-inline" action="javascript:void(null);" method="POST" name='chose' id="form1" onsubmit="call1(); ga('send', 'event', 'Actions', 'Clicks', 'Search');">
                    <!-- <form class="form-inline" action="/" method="POST" name='chose1'> -->

                        <div class="alert alert-danger" role="alert" id="error1">
                        </div>

                      {{form1.hidden_tag()}}
                      
                            <div class="row">
                              <div class="form-group input-group col-md-3" >{{ form1.relation(class="form-control") }}</div>
                                <div class="form-group input-group col-md-3" >{{ form1.category(class="form-control") }}</div>
                                <div class="form-group input-group col-md-3" >{{ form1.messages_number(class="form-control", placeholder="Limit", type="number", min=1) }}</div>
                               <div class="form-group input-group col-md-2" ><button type="submit" name="submit1" class="btn btn-default">Submit</button></div>
                            </div>
                            
                
                </form>
                <br>
              </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <br>
                  <ul id="response1">
                  </ul>
                </div>
            </div>
            <div class="row" ></div>


          </div>
        </div>
        <footer class="footer">
      <div class="container">
        <p class="text-center" style="margin-top:100px;">2016. Crafted with <i class="fa fa-heart"></i>
 by <a href="http://activewizards.com" target="_blank">ActiveWizards</a></p>
      </div>
    </footer>
    </div>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!--<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>-->

    <!-- First cloud -->
    <script>

    var data_cloud = {{cloud | tojson|safe }};

    var fill = d3.scale.category20();

    function render(data) {

    var layout = d3.layout.cloud()
        .size([800, 300])
        .words(data.map(function(d) {
          return {text: d[0], size: 14+d[1], test: "haha"};
        }))
        .padding(5)
        .rotate(0)
        .font("Impact")
        .fontSize(function(d) { return d.size; })
        .on("end", draw);

    layout.start();

    function draw(words) {
      d3.select("#cloud1").append("div")
              .classed("svg-container", true)
              .append("svg")
              .attr("preserveAspectRatio", "xMinYMin meet")
              .attr("viewBox", "0 0 850 350")
              .classed("svg-content-responsive", true)
        .append("g")
          .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
        .selectAll("text")
          .data(words)
        .enter().append("text")
          .style("font-size", function(d) { return d.size + "px"; })
          .style("font-family", "Impact")
          .style("fill", function(d, i) { return fill(i); })
          .attr("text-anchor", "middle")
          .attr("transform", function(d) {
            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
          })
          .text(function(d) { return d.text; });
    }}
    render(data_cloud[0]);

    </script>

    <!-- Second cloud -->
    <script>
    var fill2 = d3.scale.category20();

    function render2(data) {
    var layout2 = d3.layout.cloud()
        .size([800, 300])
        .words(data.map(function(d) {
          return {text: d[0], size: 14+d[1], test: "haha"};
        }))
        .padding(5)
        .rotate(0)
        .font("Impact")
        .fontSize(function(d) { return d.size; })
        .on("end", draw2);

    layout2.start();

    function draw2(words) {
      d3.select("#cloud2").append("div")
              .classed("svg-container", true)
              .append("svg")
              .attr("preserveAspectRatio", "xMinYMin meet")
              .attr("viewBox", "0 0 850 350")
              .classed("svg-content-responsive", true)
        .append("g")
          .attr("transform", "translate(" + layout2.size()[0] / 2 + "," + layout2.size()[1] / 2 + ")")
        .selectAll("text")
          .data(words)
        .enter().append("text")
          .style("font-size", function(d) { return d.size + "px"; })
          .style("font-family", "Impact")
          .style("fill", function(d, i) { return fill(i); })
          .attr("text-anchor", "middle")
          .attr("transform", function(d) {
            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
          })
          .text(function(d) { return d.text; });
    }}
    render2(data_cloud[1]);
    </script>

    <!-- First graph -->
    <script>
      var margin = {top: 1, right: 150, bottom: 6, left: 400},
          width = 1300- margin.left - margin.right,
          height = 960 - margin.top - margin.bottom;
       
      var formatNumber = d3.format(",.0f"),
          format = function(d) { return formatNumber(d) ; },
          color = d3.scale.category20();
       
      var svg1 = d3.select("#chart1").append("div")
              .classed("svg-container", true)
              .append("svg")
              .attr("preserveAspectRatio", "xMinYMin meet")
              .attr("viewBox", "0 0 1300 960")
              .classed("svg-content-responsive", true)
        .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
       
      var sankey1 = d3.sankey()
          .nodeWidth(10)
          .nodePadding(5)
          .size([width, height]);
       
      var path1 = sankey1.link();
       
      d3.json("{{ url_for('static', filename='data/Journals_Categories_count.json') }}", function(energy) {
       
        sankey1
            .nodes(energy.nodes)
            .links(energy.links)
            .layout(32);
       
        var link = svg1.append("g").selectAll(".link")
            .data(energy.links)
          .enter().append("path")
            .attr("class", "link")
            .attr("d", path1)
            .attr("id", function(d,i){
              d.id = i;
              return "link_f-"+i;
            })
            .on('mouseover', function() { 
                d3.select("#chart1").selectAll(".link").style("stroke-opacity", 0.1); 
                d3.select("#chart1").select("#"+this.id).style("stroke-opacity", 0.6) })
            .on('mouseout', function() { 
                d3.select("#chart1").selectAll(".link").style("stroke-opacity", 0.2);
                d3.select("#chart1").select("#"+this.id).style("stroke-opacity", 0.2) })
            .style("stroke-width", function(d) { return Math.max(1, d.dy); })
            .sort(function(a, b) { return b.dy - a.dy; })
            .style("stroke", function(d) { return color(d.color); });
       
        link.append("title")
            .text(function(d) { return d.source.name + " → " + d.target.name + "\n" + format(d.value); });
       
        var node1 = svg1.append("g").selectAll(".node")
            .data(energy.nodes)
          .enter().append("g")
            .attr("class", "node")
            .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
            // .on("click", highlight_node_links)
            .on('mouseover', highlight_node_links1)
            .on('mouseout', highlight_node_links1)
          .call(d3.behavior.drag()
            .origin(function(d) { return d; })
            .on("dragstart", function() { this.parentNode.appendChild(this); })
            .on("drag", dragmove));
       
        node1.append("rect")
            .attr("height", function(d) { return d.dy; })
            .attr("width", sankey1.nodeWidth())
            .style("fill", function(d) { return d.color = color(d.name.replace(/ .*/, "")); })
            .style("stroke", function(d) { return d3.rgb(d.color).darker(2); })
          .append("title")
            .text(function(d) { return d.name + "\n" + format(d.value); });
       
        node1.append("text")
            .attr("x", 15)
            .attr("y", function(d) { return d.dy / 2; })
            .attr("dy", ".35em")
            .attr("text-anchor", "start")
            .attr("transform", null)
            .attr("font-size", 10)
            .text(function(d) { return d.name; })
          .filter(function(d) { return d.x < width / 2; })
            .attr("x", -15 + sankey1.nodeWidth())
            .attr("text-anchor", "end");
       
        function dragmove(d) {
          d3.select(this).attr("transform", "translate(" + d.x + "," + (d.y = Math.max(0, Math.min(height - d.dy, d3.event.y))) + ")");
          sankey1.relayout();
          link.attr("d", path1);
        }

        function highlight_node_links1(node1,i){

          var remainingNodes1=[],
              nextNodes1=[];

          var stroke_opacity = 0;
          if( d3.select(this).attr("data-clicked") == "1" ){
            d3.select(this).attr("data-clicked","0");
            stroke_opacity = 0.2;
          }else{
            d3.select(this).attr("data-clicked","1");
            stroke_opacity = 0.6;
          }

          var traverse = [{
                            linkType : "sourceLinks",
                            nodeType : "target"
                          },{
                            linkType : "targetLinks",
                            nodeType : "source"
                          }];

          traverse.forEach(function(step){
            node1[step.linkType].forEach(function(link) {
              remainingNodes1.push(link[step.nodeType]);
              highlight_link1(link.id, stroke_opacity);
            });

            while (remainingNodes1.length) {
              nextNodes1 = [];
              remainingNodes1.forEach(function(node1) {
                node1[step.linkType].forEach(function(link) {
                  nextNodes1.push(link[step.nodeType]);
                  highlight_link1(link.id, stroke_opacity);
                });
              });
              remainingNodes1 = nextNodes1;
            }
          });
        }

        function highlight_link1(id,opacity){
            d3.select("#link_f-"+id).style("stroke-opacity", opacity);
        }

      });

    </script>

    <!-- Second graph -->
    <script>

     var margin = {top: 1, right: 1, bottom: 6, left: 1},
          width = 1300 - margin.left - margin.right,
          height = 560 - margin.top - margin.bottom;
       
      var formatNumber = d3.format(",.0f"),
          format = function(d) { return formatNumber(d) ; },
          color = d3.scale.category20();
       
      var svg2 = d3.select("#chart2").append("div")
              .classed("svg-container", true)
              .append("svg")
              .attr("preserveAspectRatio", "xMinYMin meet")
              .attr("viewBox", "0 0 1300 560")
              .classed("svg-content-responsive", true)
        .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
       
      var sankey = d3.sankey()
          .nodeWidth(15)
          .nodePadding(10)
          .size([width, height]);
       
      var path = sankey.link();
       
      d3.json("{{ url_for('static', filename='data/Relationship_category_count.json') }}", function(energy) {
       
        sankey
            .nodes(energy.nodes)
            .links(energy.links)
            .layout(32);
       
        var link = svg2.append("g").selectAll(".link")
            .data(energy.links)
          .enter().append("path")
            .attr("class", "link")
            .attr("d", path)
            .attr("id", function(d,i){
              d.id = i;
              return "link-"+i;
            })
            .on('mouseover', function() { 
                d3.select("#chart2").selectAll(".link").style("stroke-opacity", 0.1); 
                d3.select("#chart2").select("#"+this.id).style("stroke-opacity", 0.6) })
            .on('mouseout', function() { 
                d3.select("#chart2").selectAll(".link").style("stroke-opacity", 0.2);
                d3.select("#chart2").select("#"+this.id).style("stroke-opacity", 0.2) })
            .style("stroke-width", function(d) { return Math.max(1, d.dy); })
            .sort(function(a, b) { return b.dy - a.dy; })
            .style("stroke", function(d) { return color(d.color); });
       
        link.append("title")
            .text(function(d) { return d.source.name + " → " + d.target.name + "\n" + format(d.value); });
       
        var node = svg2.append("g").selectAll(".node")
            .data(energy.nodes)
          .enter().append("g")
            .attr("class", "node")
            .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
            // .on("click", highlight_node_links)
            .on('mouseover', highlight_node_links)
            .on('mouseout', highlight_node_links)
          .call(d3.behavior.drag()
            .origin(function(d) { return d; })
            .on("dragstart", function() { this.parentNode.appendChild(this); })
            .on("drag", dragmove));
       
        node.append("rect")
            .attr("height", function(d) { return d.dy; })
            .attr("width", sankey.nodeWidth())
            .style("fill", function(d) { return d.color = color(d.name.replace(/ .*/, "")); })
            .style("stroke", function(d) { return d3.rgb(d.color).darker(2); })
          .append("title")
            .text(function(d) { return d.name + "\n" + format(d.value); });
       
        node.append("text")
            .attr("x", -6)
            .attr("y", function(d) { return d.dy / 2; })
            .attr("dy", ".35em")
            .attr("text-anchor", "end")
            .attr("transform", null)
            .attr("font-size", 16)
            .text(function(d) { return d.name; })
          .filter(function(d) { return d.x < width / 2; })
            .attr("x", 6 + sankey.nodeWidth())
            .attr("text-anchor", "start");
       
        function dragmove(d) {
          d3.select(this).attr("transform", "translate(" + d.x + "," + (d.y = Math.max(0, Math.min(height - d.dy, d3.event.y))) + ")");
          sankey.relayout();
          link.attr("d", path);
        }

        function highlight_node_links(node,i){

          var remainingNodes=[],
              nextNodes=[];

          var stroke_opacity = 0;
          if( d3.select(this).attr("data-clicked") == "1" ){
            d3.select(this).attr("data-clicked","0");
            stroke_opacity = 0.2;
          }else{
            d3.select(this).attr("data-clicked","1");
            stroke_opacity = 0.6;
          }

          var traverse = [{
                            linkType : "sourceLinks",
                            nodeType : "target"
                          },{
                            linkType : "targetLinks",
                            nodeType : "source"
                          }];

          traverse.forEach(function(step){
            node[step.linkType].forEach(function(link) {
              remainingNodes.push(link[step.nodeType]);
              highlight_link(link.id, stroke_opacity);
            });

            while (remainingNodes.length) {
              nextNodes = [];
              remainingNodes.forEach(function(node) {
                node[step.linkType].forEach(function(link) {
                  nextNodes.push(link[step.nodeType]);
                  highlight_link(link.id, stroke_opacity);
                });
              });
              remainingNodes = nextNodes;
            }
          });
        }

        function highlight_link(id,opacity){
            d3.select("#link-"+id).style("stroke-opacity", opacity);
        }

      });
    </script>

    <!-- Third graph -->
    <script>

       d3.json("{{ url_for('static', filename='data/Persentage_of_relation.json') }}", function(data) {
          nv.addGraph(function() {
            var chart = nv.models.multiBarHorizontalChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .margin({top: 50, right: 30, bottom: 50, left: 225})
                .showValues(false)
                .showControls(false)           //Show bar value next to each bar.
                .tooltips(true)
                .duration(350)             //Show tooltips on hover.
                .stacked(true);        //Allow user to switch between "Grouped" and "Stacked" mode.

            chart.yAxis
                .tickFormat(d3.format(',f'))
                .axisLabel('Numbers of messages');
            chart.xAxis.axisLabel('SDG')

                .axisLabelDistance(140);

            d3.select('#stack svg')
                .datum(data)
                .call(chart);

            nv.utils.windowResize(chart.update);

            return chart;
          });
        });

    </script>

    <!-- Fourth graph -->
    <script>
    var height4 = 600;
    var width4 = 600;
    var r = height4/2;
    var arc = d3.svg.arc().outerRadius(r);

    d3.csv("{{ url_for('static', filename='data/pie.csv') }}", function(energy) {
        console.log(energy);
     
        nv.addGraph(function() {
            var chart = nv.models.pieChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                
                .height(height4)
                .showLabels(true)
                .valueFormat(d3.format(',f'))
                .labelThreshold(.04)
                .labelType("percent")
                .donut(true).donutRatio(0) /* Trick to make the labels go inside the chart*/
            ;
            
            d3.select("#pie svg")
                .datum(energy)
                .transition().duration(1200)
                
                .attr('height', height4)
                .call(chart)
            ;

            d3.selectAll(".nv-label text")
                /* Alter SVG attribute (not CSS attributes) */
                .attr("transform", function(d){
                    d.innerRadius = -200;
                    d.outerRadius = r;
                    return "translate(" + arc.centroid(d) + ")";}
                )
                .attr("text-anchor", "middle");
            
            nv.utils.windowResize(chart.update);
            return chart;
        });
    });
    </script>
    
    <!-- Tab -->
    <script>
      $('#tabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      })
    </script>
    <!-- Ajax -->
    <script>
    // $('#results').hide();
    var err = $('#error1'),
        err2 = $('#error2');
    err.hide();
    err2.hide();
    function call1() {
      var msg1   = $('#form1').serialize();
        $.ajax({
          type: 'POST',
          url: '/one',
          data: msg1,
          success: function(data) {
            console.log(data);
            var ul = $('#response1');
            ul.empty();
            err.hide();
            err.empty();
            if (data['data']) {
              for(var key in data['data']) {
                ul.append('<li>'+data['data'][key]+'</li>');
              }
            } else {
              err.show();
              for(var error in data['error']) {
                err.append('<li>'+data['error'][error]+'</li>');
              }
            }
            
          },
          error:  function(xhr, str){
                alert('Error: ' + xhr.responseCode);
            }
        });
     
    }
    
    function call2() {
      
      var msg2   = $('#form2').serialize();
        $.ajax({
          type: 'POST',
          url: '/two',
          data: msg2,
          success: function(data) {
            err2.hide();
            err2.empty();

            if (data['data']) {
              console.log(data['data']);
              d3.select("#cloud1").select("div").remove();
              d3.select("#cloud2").select("div").remove();
              render(data['data'][0]);
              render2(data['data'][1]);
              
            } else {
              err2.show();
              for(var error in data['error']) {
                err2.append('<li>'+data['error'][error]+'</li>');
              }
            }

          },
          error:  function(xhr, str){
                alert('Error: ' + xhr.responseCode);
            }
        });
    }

    </script>
 </body>
</html>